.cell {
  display: flex;
  width: 4em;
  height: 4em;
  background-color: rgb(80, 80, 80);
  margin: 0.15em;
  border-radius: 0.5em;
}

.cell_value {
  font-size: 1.75em;
  margin: auto;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.incorrect {
  background-color: red !important;
}

.correct {
  background-color: green !important;
}

.included {
  background-color: orange !important;
}
