.title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

.wrapper {
  width: 100%;
  max-width: 30em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

.words_grid {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.words_row {
  display: flex;
}

.new_game_button {
  background-color: rgb(80, 80, 80);
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 1em 2em;
}

.game_options {
  display: flex;
  justify-content: center;
}

.keyboard_wrapper {
  margin-top: auto;
  margin-bottom: 2em;
}
